[user]
email = snikoletopoulos@hotmail.com
name = Stavros Nikoletopoulos

[core]
editor = nvim
pager = delta

[pager]
diff = diffnav
show = diffnav
log = delta
reflog = delta

[init]
defaultBranch = main

[pull]
rebase = false

[push]
autoSetupRemote = true

[rerere]
enabled = true
autoUpdate = true

[merge]
tool = nvim
conflictStyle = zdiff3

[mergetool]
prompt = false

[mergetool "nvim"]
cmd = nvim -c "DiffviewOpen"

[column]
ui = auto

[branch]
sort = -committerdate

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[include]
path = ~/.config/git/delta.gitconfig

[fetch]
prune = true
pruneTags = true

[commit]
verbose = true

[help]
autocorrect = prompt

[tag]
sort = -version:refname
