@import "mocha.css";

window#waybar {
	background-color: transparent;
	color: @text;
}

.modules-left,
.modules-center,
.modules-right {
	background-color: @base;
	border-radius: 12px;
	padding: 10px 14px;
}

.modules-left {
	padding: 0 4px;
}

.modules-center > widget:not(:first-child) > * {
	margin-left: 12px;
}

.modules-right > widget:not(:first-child) > * {
	margin-left: 21px;
}

.drawer-child > * {
	margin-left: 18px;
}

#workspaces button {
	color: @text;
	border: transparent 0px solid;
}

#workspaces button:hover {
	color: @blue;
	box-shadow: inherit;
	text-shadow: inherit;
	background-color: inherit;
	background: transparent;
}

#workspaces button.visible {
	color: @peach;
}

#language {
	margin-bottom: 2px;
}

#custom-music {
	color: @mauve;
}

#battery.critical {
	color: @red;
}

#battery.critical {
	color: @peach;
}

#battery.critical {
	color: @green;
}

#battery.charging {
	color: @yellow;
}

#bluetooth {
	color: @blue;
}

#network {
	color: @green;
}

#network.disabled {
	color: @mauve;
}

#network.disconnected {
	color: @red;
}

#clock {
	color: @mauve;
}